{% load static %}

<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-start leading-5 mr-1">{{post.title}}</h3>
    </div>
    <figure>
        <a href="{% url 'post-page' post.pk %}"><img class="w-full" src="{{ post.image }}" ></a>
    </figure>
    <div class="p-4 pb-2">

        {% if post.author and post.author.username %}
        <a class="flex items-center gap-1 mb-4" href="{% url 'display-profile' post.author.username %}">
            <img class="w-8 h-8 object-cover rounded-full" src="{{ post.author.profile.avatar }}">
            <span class="font-bold hover:underline">{{ post.author.profile.display_name }}</span>
        </a>
    {% else %}
        <span class="font-bold">{{post.author.username}}</span>
    {% endif %}
        <p class="text-5xl mb-10 px-4 font1">{{post.body}}</p>
       
        <div class="flex items-center justify-between text-sm px-2">
            <a class="font-bold hover:underline" href="{% url 'post-page' post.pk %}">
                
                {% if post.comments.count %}
                Comments
                <span class="font-light text-gray-500 ml-1">{{post.comments.count }}</span>
                {% else %}
                Add Commnet
                {% endif %}
            </a>
            <div class="flex items-center gap-4 [&>a:hover]:underline">
                {% include 'snippets/likes.html' %}
                {% if user.is_authenticated and user == post.author %}                  
                <a href="{% url 'post-edit' post.pk %}">Edit</a>
                <a href="{% url 'post-delete' post.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</article>